.advantage {
  margin: 0 auto;
  text-align: center;
}

.advantage__description {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    padding-top: 44px;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black-txtcolor;

  @media (min-width: $tablet-width) {
    width: 155px;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 21px;
  }
}

.advantage__number,
.advantage__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: $dark-gray-txtcolor;
}

.advantage__number {
  margin-bottom: 15px;
}

.advantage__text {
  width: 250px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
  }
}

.advantage__image {
  width: $mobile-width;
  height: auto;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-grow: 2;
    width: 100%;
  }
}

.advantage--colorful:first-child {
  .advantage__description {
    padding-top: 77px;
    order: 0;

    @media (min-width: $tablet-width) {
      padding-top: 44px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 52px;
    }
  }
}

.advantage--colorful {
  width: 100%;
  background-color: $sky-blue;

  .advantage__description {
    padding-top: 39px;
    padding-bottom: 39px;
    background-color: $sky-blue;
    order: 1;
  }

  .advantage__title,
  .advantage__number,
  .advantage__text {
    color: $white-txtcolor;
  }

  .advantage__title {
    margin-bottom: 10px;
  }

  .advantage__number {
    margin-bottom: 15px;
  }

  .advantage__text {
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    height: 256px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .advantage__description {
      box-sizing: border-box;
      height: 256px;
      padding-top: 44px;
    }

    .advantage__text {
      width: 170px;
    }
  }

  @media (min-width: $desktop-width) {
    .advantage__description {
      width: 400px;
      padding-top: 52px;
    }

    .advantage__text {
      width: 270px;
      margin-top: 21px;
    }
  }
}

.advantage--bridge {
  @media (min-width: $tablet-width) {
    .advantage__title {
      width: 151px;
    }
  }

  @media (min-width: $desktop-width) {
    .advantage__text {
      width: 220px;
    }

    .advantage__image {
      margin-top: -8px;
    }
  }
}

.advantage--beautiful-road {
  @media (min-width: $tablet-width) {
    .advantage__text {
      width: 140px;
    }
  }

  @media (min-width: $desktop-width) {
    .advantage__text {
      width: 270px;
    }
  }
}
