.advantage-list {
  box-sizing: border-box;
  min-height: 503px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $light-gray-bgcolor;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 256px;
  }
}

.advantage-list__item {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 29px;
  border-bottom: 1px solid $dark-gray-border-color;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantage-list__item:last-child {
  border-bottom: none;
}
