.button {
  display: block;
  box-sizing: border-box;
  min-height: 58px;
  padding-top: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $white-txtcolor;
  background-color: $sky-blue;
}
