.copyright {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright span {
  flex-grow: 1;
  font-size: 14px;
  line-height: 26px;
  color: $black-txtcolor;
}

.copyright__link {
  width: 40px;
  height: 40px;
}

.copyright__link-image {
  width: 40px;
  height: 40px;
}

.copyright__link-image path {
  fill: $black-txtcolor;
}
