.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black-txtcolor;
}

.feature-list__text {
  font-size: 14px;
  line-height: 21px;
  color: $dark-gray-txtcolor;
}
