.feature-list {
  // box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 36px;
  list-style: none;
  background-color: $white-bgcolor;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 330px;
    display: flex;
    justify-content: space-between;
  }
}

.feature-list__item {
  padding-left: 68px;

  @media (min-width: $tablet-width) {
    width: 33%;
    padding: 0;
  }
}

.feature-list__title {
  margin: 0;
  padding-top: 28px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black-txtcolor;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 21px;
  }
}

.feature-list__text {
  margin: 0;
  width: 220px;
  font-size: 14px;
  line-height: 21px;
  color: $dark-gray-txtcolor;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.feature-list__item--accommodation {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 37px auto;
  background-position: 20px 17px;

  @media (min-width: $tablet-width) {
    background-size: 75px auto;
    background-position: 50% 53px;
  }
}

.feature-list__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: 23px 14px;

  @media (min-width: $tablet-width) {
    background-size: 64px auto;
    background-position: 50% 50px;
  }
}

.feature-list__item--food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px auto;
  background-position: 16px 19px;

  @media (min-width: $tablet-width) {
    background-size: 77px auto;
    background-position: 50% 56px;
  }
}

@media (min-width: $tablet-width) {
  .feature-list__item--accommodation {
    order: 1;
  }

  .feature-list__item--food {
    order: 2;
  }

  .feature-list__item--souvenirs {
    order: 3;
  }
}
