.feedback {
  padding-top: 1px;
  padding-bottom: 49px;
  text-align: center;
  background-color: $white-bgcolor;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.feedback__title {
  margin-top: 26px;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 54px;
  }
}

.feedback__text {
  width: 290px;
  margin: 0 auto;
  margin-top: 19px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin-top: 31px;
  }
}

.feedback__link {
  width: 280px;
  margin: 0 auto;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
  }
}
