.footer {
  background-color: $white-bgcolor;
  border-top: 1px solid $white-bgcolor;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.footer__wrapper {
  box-sizing: border-box;
  min-height: 233px;
  margin: 0 auto;
  margin-top: 10px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 648px;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.footer__hashtag {
  margin-top: 32px;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $black-txtcolor;

  @media (min-width: $tablet-width) {
    margin-top: -5px;
  }
}

.footer__social {
  margin: 0 auto;
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    margin-top: -5px;
  }
}

.footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
