.footer {
  padding-top: 36px;
  padding-bottom: 23px;
  text-align: center;
  text-transform: uppercase;
  background-color: $white-bgcolor;
}

.footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $black-txtcolor;
}
