.footer {
  margin: 0 auto;
  background-color: $white-bgcolor;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.footer__wrapper {
  //box-sizing: border-box;
  //min-height: 233px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 12px;
  //margin-top: 10px;
  //background-color: red;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    //width: 648px;
    width: 662px;
    min-height: 120px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    //width: 960px;
    width: 974px;
  }
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 36px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $black-txtcolor;

  @media (min-width: $tablet-width) {
    margin: initial;
    margin-left: 7px;
  }
}

.footer__social {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: initial;
    //margin-top: -5px;
  }
}

.footer__copyright {
  margin: 0 auto;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin: initial;
  }
}
