.main {
  text-transform: uppercase;
  background-color: $white-bgcolor;
}

.main__header {
  padding-top: 36px;
  padding-bottom: 32px;
}

.main__title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black-txtcolor;
}

.main__preface {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray-txtcolor;
}
