.main {
  margin: 0 auto;
  text-transform: uppercase;
  background-color: $white-bgcolor;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.main__header {
  padding-top: 39px;
  padding-bottom: 5px;
  position: relative;
  background-color: $white-bgcolor;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.main__header::before {
  content: "";
  display: block;
  width: 100%;
  height: 26.111px;
  top: -26.111px;
  position: absolute;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    height: 57px;
    top: -57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}

.main__header::after {
  content: "";
  display: block;
  height: 37px;
  width: 100%;
  bottom: -37px;
  position: absolute;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__title {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black-txtcolor;

  @media (min-width: $tablet-width) {
    width: 455px;
    font-size: 21px;

    br {
      display: none;
    }
  }
}

.main__preface {
  width: 270px;
  margin: 0 auto;
  margin-top: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: $dark-gray-txtcolor;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-top: 28px;
  }
}

.main__header--photo {
  padding-top: 37px;
  padding-bottom: 25px;

  .main__preface {
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-bottom: 70px;

    .main__title {
      margin-bottom: 30px;

      font-size: 32px;
    }

    .main__preface {
      width: 440px;

      line-height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.main__header--form {
  padding-top: 37px;
  padding-bottom: 15px;

  .main__preface {
    width: 320px;

    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 74px;

    .main__title {
      margin-bottom: 31px;

      font-size: 30px;
      line-height: 26px;
    }

    .main__preface {
      width: 440px;

      font-size: 14px;
      line-height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.main__header--form::after,
.main__header--photo::after {
  display: none;
}
