.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--open {
  display: none;
}

.main-nav__menu-bar {
  height: 56px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--menu-closed {
  @media (max-width: $tablet-width) {
    .menu {
      display: none;
    }

    .main-nav__toggle--close {
      display: none;
    }

    .main-nav__toggle--open {
      display: block;
    }

    .header__logo {
      top: 0;
    }
  }
}
