.photos__wrapper {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
