.photo {
  display: block;
  width: $mobile-width - 2 * 20px;
  margin: 0 auto;
  padding: 22px 20px 17px 20px;

  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

  border-top: 1px solid $dark-gray-border-color;
}

.photo:last-child {
  border-bottom: 1px solid $dark-gray-border-color;
}

.photo__image {
  display: block;
  margin: 0;
}

.photo__info {
  padding-top: 16px;
}

.photo__legend {
  display: block;
  margin: 0;

  font-weight: bold;
  color: $black-txtcolor;
}

.photo__autor {
  margin: 0;
  margin-bottom: 0;

  color: $dark-gray-txtcolor;
  text-transform: none;
}

.photo__likes {
  margin: 0;
  padding-top: 3px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $black-txtcolor;

  svg {
    margin-right: 14px;
    opacity: 0.3;
  }

  span {
    margin-top: 4px;
  }
}


@media (min-width: $tablet-width) {
  .photo {
    width: 50%;
    margin: 0;
    padding: 0;

    border: none;
  }

  .photo__image {
    width: 100%;
    height: 267px;
  }

  .photo:first-child {
    width: 648px;

    .photo__image {
      height: 400px;
    }
  }

  .photo__info {
    padding-top: 9px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;

    background-color: $base-bgcolor;
  }

  .photo__description {
    margin-top: 6px;
    margin-left: 20px;
  }

  .photo__likes {
    padding-top: 0;
    width: 85px;

    svg {
      margin-right: 10px;
    }

    span {
      margin-top: 7px;
    }
  }

  .photo__likes::before {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    width: 400px;
  }

  .photo:first-child {
    width: 1200px;
  }

  .photo__info {
    position: relative;
    margin-top: -81px;
    padding-top: 11px;
    padding-bottom: 16px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__legend,
  .photo__autor,
  .photo__likes {
    color: $white-txtcolor;

    svg {
      opacity: 1;
      fill: $white-txtcolor;
    }
  }
}
