.social {
  width: 151px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
}

.social__link--twitter {
  background: $sky-blue;
}

.social__link--facebook {
  width: 47px;
  background: $sky-blue;
}

.social__link--youtube {
  background: $sky-blue;
}

.social__link svg {
  margin-top: 17px;

  path {
    fill: $white-txtcolor;
  }
}

.social__link--facebook svg {
  margin-top: 14px;
}

.social__link:hover,
.social__link:focus {
  @include button-hover();
}

.social__link:active {
  @include button-down();

  svg path {
    fill: rgba(255, 255, 255, 0.3);
  }
}
