$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-menu-height: 223px;
$menu-bar-height: 56px;
$base-bgcolor: #f2f2f2;
$sky-blue: #81b3d2;
$white-bgcolor: #ffffff;
$light-gray-bgcolor: #eeeeee;
$white-txtcolor: #ffffff;
$black-txtcolor: #000000;
$dark-gray-txtcolor: #333333;
$gray-border-color: #d6d6d6;
$dark-gray-border-color: #e5e5e5;
$dark-gray-icon-bgcolor: #e6e6e6;
$retina-dpi: 192dpi;
$retina-dppx: 2dppx;
$footer-bgcolor: #fefefe;
$player-buttons-color-mob: #5c6870;
$input-hover-bgcolor: #e5e5e5;
$input-down-bgcolor: #d5d5d5;
$light-skyblue-bgcolor: #c3d9e7;
$menu-hover-txtcolor: $sky-blue;
$menu-active-txtcolor: #766357;
$menu-active-hover-txtcolor: #604e43;
$button-hover-bgcolor: #669ec0;
$button-down-bgcolor: #5496bd;
$button-disabled-bgcolor: #e5e5e5;
