$mobile-width: 320px;
$mobile-menu-height: 223px;
$menu-bar-height: 56px;
$sky-blue: #81b3d2;
$white-bgcolor: #ffffff;
$light-gray-bgcolor: #eeeeee;
$white-txtcolor: #ffffff;
$black-txtcolor: #000000;
$dark-gray-txtcolor: #333333;
