.video {
  padding-top: 32px;
  padding-bottom: 41px;
  text-align: center;

  b {
    margin-bottom: 27px;
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: $black-txtcolor;
  }

  p {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;

    font-size: 14px;
    line-height: 24px;
    color: $dark-gray-txtcolor;
  }

  @media (min-width: $tablet-width) {
    padding-top: 65px;

    b {
      margin-bottom: 31px;
      font-size: 30px;
    }

    p {
      margin-bottom: 73px;
      width: 425px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 87px;

    b {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 71px;
    }
  }
}

.video__player {
  margin: 0 auto;
}
